@import url(nav.css);
@import url(fonts.css);
@import url(sub.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body{
    background-color: #100F15;
}


.membershiptitle{
    height: 70px;
    width: 100%;
color: white;
    margin-top: 60px;
    justify-content: center;
    display: flex;
    font-family: interbold;
    font-size: 50px;
}

.membershiptext{
    height: 60px;
    width: 100%;
    justify-content: center;
    display: flex;
}

.membershiptextchild{
    text-align: center;
    height: 100%;
    width: 45%;
    color: white;
    margin-top: 20px;
    font-family: interlight;
    font-size: 20px;
}

.switchbuttonfather{
    margin-top: 60px;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
}

.switchbuttonchild{
    width: 220px;
    height: 100%;
    border-radius:99px ;
    background-color: #17171C;
    border-color: #ffffff27;
    border-width: 1px;
    border-style: solid;
    display: flex;
    font-family: interbold;
    color: white;
    align-items: center;
    position: relative;
}

.switchbuttoncontent{
    z-index: 1;
    width: 100%;
     height: 100%;
     align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.blue{
    position: absolute;
    border-radius: 99px;
    width: 50%;
    height: 82%;
    background-color: #215DEE;
    left: 3%;
}




.packsfather{
    width: 100%;
    min-height: 100vh;
    margin-top: 70px;
    padding: 0 30px;
}

.packschild{
    width: 100%;
    height: 100vh;
    display:grid ;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
    padding: 0 30px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.pack1{
    position: relative;
    border-radius: 20px;
    width: 100%;
    height: 85%;
background-color: #17171C;
border-color: #ffffff27;
border-width: 1px;
border-style: solid;
padding: 30px;
display: flex;
flex-direction: column;
gap: 30px;
}

.pack1child{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 20px;
    width: 100%;
    height: 90%;
padding: 30px;
display: flex;
flex-direction: column;
gap: 30px;
}

.packname{
    font-family: interbold;
    color: white;
    font-size: 30px;
}

.packcost{
    font-family: interbold;
    color: white;
    font-size: 50px;  
}

.packcostadd{
    margin-left: 5px;
    font-family: interlight;
    font-size: 15px;
}

.packdesc{
    font-family: interlight;
    font-size: 19px;
    color: white;
    max-width: 90%;
}

.packsline{
    width: 100%;
    height: 0.5px;
    background-color: rgba(255, 255, 255, 0.153);

}

.packbutton{

    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    position: absolute;
    font-size: 20px;
    font-family: interbold;
    color: white;
    border-width: 0;
    width: 70%;
    height: 60px;
    border-radius: 99px;
    background: #464cf2;
    background: linear-gradient(90deg, rgba(70,76,242,1) 0%, rgba(167,34,253,1) 100%);
}


.punkt{
    font-size: 20px;
    color: #464cf2;
}

.punkttext{
    font-size: 17px;
    font-family: interlight;
    color: white;
}

.punktspec{
    display: flex;
    align-items: center;
    gap: 30px;
}

.punkts{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faqsfather{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0 25%;
}

.faqschild{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.faqstext{
    width: 100%;
    height: 100%;
    font-size: 45px;
    font-family: interbold;
    color: white;
}

.box{
    width: 100%;
    height: 60px;
    border-color: #ffffff10;
    border-width: 1.5px;
    border-style: solid;
    background-color:#100F15 ;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 0 30px;
}

.boxtext{
    max-width: 100%;
    text-decoration: none;
    font-family: interbold;
    font-size: 20px;
    color: white;
}

.boxdownarrow{
    color: white;
}

.sec{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



@media only screen and (max-width: 1450px){
    .punkts{
        gap: 10px;
    }
}


@media only screen and (max-width: 1300px){
    .punkts{
        gap: 0px;
    }
    .punkt{
font-size: 15px;
    }

    .punkttext{
        font-size: 15px;
    }

    .packbutton{
        font-size: 15px;  
    }
}


@media only screen and (max-width: 1150px){
    .packschild{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        height: 200vh;
    }

    .pack1{
        height: 100vh;
    }

    .punkts{
        gap: 30px;
    }
    .punkt{
font-size: 20px;
    }

    .punkttext{
        font-size: 20px;
    }

    .packbutton{
        font-size: 20px;  
    }
    
}

@media only screen and (max-width: 1150px){
    .packschild{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        height: 100%;
    }

    .pack1{
        height: 75vh;
    }

    .punkts{
        gap: 0px;
    }
    .punkt{
font-size: 15px;
    }

    .punkttext{
        font-size: 15px;
    }

    .packbutton{
        font-size: 15px;  
    }

    .faqs{
        margin-top: 40px;
    }
}

@media only screen and (max-width: 830px){
    .packschild{
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, auto);
        height: 100%;
    }

    .pack1{
        height: 75vh;
    }

    .punkts{
        gap: 10px;
    }
    .punkt{
font-size: 20px;
    }

    .punkttext{
        font-size: 15px;
    }

    .packbutton{
        font-size: 20px;  
    }

    .pack1child{
        gap: 20px;
    }

    .boxtext{
        font-size: 15px;
        padding: 5px 0;
    }

    .faqsfather{
    padding: 0 60px;
    }
}



@media only screen and (max-width: 590px){
    .boxtext{
        font-size: 12px;
        padding: 5px 0;
    }


}