

nav{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navchild{
    max-width: 1280px;
   display: flex;
  justify-content: center;
  gap: 200px;
}

.logo{
    max-width: 70px;
}

.downarrows{
    font-size: 20px;
    color: white;
}


.navleft{
    display: flex   ;
    align-items: center;
    gap: 40px;
}

.navmenucontents{
    gap: 20px;
    align-items: start;
    display: flex;
}

.navmenucontent{
font-family: interlight;
color: white;
text-decoration: none;
position: relative;

}

.navmenucontent::before{
    top: 120%;
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    border-radius: 99px;
    background:linear-gradient(90deg, #464cf2 0%, #a722fd 100%);
    transition: 0.5s ease width;
}


.navmenucontent:hover::before{
    width: 100%;
}

.navright{
    gap: 20px;
    display: flex;
    align-items: center;
   
}


.navsun{
    font-size: 20px;
    color: white;
}

.navsearch{
    font-size: 20px;
    color: white;
}


.signin{

    font-family: interlight;
    text-decoration: none;
    color: white;
    
    }


.navbutton{
background-color: aliceblue;
width: 200px;
height: 48px;
border: 0px;
border-radius: 99px;
font-family: intermedium;
font-size:medium;
color: white;
background: rgb(70,76,242);
background: linear-gradient(90deg, #464cf2 0%, #a722fd 100%);
}

.navright3menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.line3{
    font-size: 40px;
    color: white;   
}


.navchildxsscr{
    max-width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    display: none;
}


.logoxsmenu{
    max-width: 70px;
}


.openedburger{
    width: 100%;
    height: 100vh;
}


.openedburgerchild{
    background-color: #100F15;
    position: absolute;
    width: 100%;
    height: 100%;
}

.head{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.headright{
    display: flex;
    gap: 10px;
    align-items: center;
}

.linex{
        font-size: 40px;
        color: white;
}

.burgerlinefather{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 40px;
}

.burgerline1{
    width: 100%;
    height: 1px;
   background-color: rgba(255, 255, 255, 0.34);
}


.burgercontents{
    width: 100%;
    height: 45vh;
    margin-top: 40px;
    gap: 20px;
    align-items: start;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.burgercontent{
    width: 100%;
    height: 40px;
    border-radius: 10px;
font-family: interlight;
color: white;
text-decoration: none;
display: flex;
align-items: center;
padding-left: 20px;

}

.burgercontent:hover{
    background-color: rgba(255, 255, 255, 0.24);
}

.footburger{
    margin-top: 40px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.displaynoneburger{
    display: none;
}

.displaynonemain{
    display: block;
}


@media only screen and (max-width: 1200px) {

    .displaynoneburger{
        display: block;
    }

    .displaynonemain{
        display: none;
    }

    .navright {
        display: none;
    }

    .navchildxsscr{
        display: contents;
    }
 
    .navmenucontents{
display: none;

    }


    .navchild{
        display: none;
    }
 nav{justify-content:space-between;
    padding: 0 40px;
}

}