@import url(nav.css);
@import url(fonts.css);
@import url(sub.css);
@import url(footter.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.displaynone{
    display: none;
}

.body{
    background-color: #100F15;
}

.tagstitle{
    height: 30px;
    width: 100%;
color: white;
    margin-top: 60px;
    justify-content: center;
    display: flex;
    font-family: interbold;
    font-size: 50px;
}

.tagssfather{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
margin-top: 100px;
}

.tagsschild{
    width: 1360px;
    height: 100%;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto) ;
    display: grid;
    justify-content: center;
    grid-column-gap: 30px ;
    grid-row-gap:30px ;
}

.box{
    border-radius: 20px;
    width: 312px;
    height: 335px;
background-color: #17171C;
border-color: #ffffff27;
border-width: 1px;
border-style: solid;
padding: 25px 25px 0 25px;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
}

.tagsphoto{

    width: 100%;
    height: 200px;
}


.tagsimg{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boxtitle{
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: interbold;
}

.boxtext{
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: interlight;
}

.boxfoot{
display: flex;
    flex-direction: column;
    gap: 10px;
}


@media only screen and (max-width: 1350px){
    .tagssfather{
        height: 150vh;
    }

    .tagsschild{
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto) ;
    }
   
   }

@media only screen and (max-width: 1000px){
    .tagssfather{
        height: 220vh;
    }

    .tagsschild{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto) ;
    }
   
   }

@media only screen and (max-width: 650px){
    .tagssfather{
        height: 420vh;
    }

    .tagsschild{
        display: flex;
        flex-direction: column;
        gap: 35px;
        justify-content: center;
        padding: 0 30px;
    }
   
    .box{
        width: 100%;
    }

   }